<div>    
    <h1>Page 2</h1>
    <div><app-entete></app-entete></div>
    <div class="flex-container">
        <div>
            <app-recherche></app-recherche>
        </div>
        <div>
            <div><app-carousel></app-carousel></div>
            <p>mock-heros</p>
            <div>
                <mat-card *ngFor="let hero of heros">
                    <app-hero [nom]="hero.nom"></app-hero>
                </mat-card>
            </div>            
        </div>
    </div>
    <div><app-pied-page></app-pied-page></div>
</div>