div {
    background-color : #c274a9; 
    width:95%;
    margin: auto;
}

mat-card {    
    width: 8em;
    margin: 15px;
}


.container {
    display: flex;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}